.todo-list {
    &>li {
        cursor: pointer;
        padding: 10px;
        font-size: 50px;
    }

    &>li.completed {
        color: #ccc;
        font-style: italic;
        text-decoration: line-through;
    }
}